<div class="user-infos">
    <div class="user-infos__container">
        <form [formGroup]="userInfosForm">
            <div class="user-infos__title">
                <h1 class="poppins-semibold">Informações do Usuário</h1>
                <p class="poppins-light">Atualização dos dados do usuário</p>
            </div>
            <div class="user-infos__row">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o seu nome" formControlName="name" />
                </div>
                <div class="user-infos__fields">
                    <p class="poppins-regular">Email:</p>
                    <input class="poppins-regular" placeholder="Digite o seu email" formControlName="email" />
                </div>
            </div>
            <div class="user-infos__row">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Usuário:</p>
                    <input class="poppins-regular" placeholder="Digite o seu usuário" formControlName="username" />
                </div>
                <div class="user-infos__fields">
                    <p class="poppins-regular">Senha:</p>
                    <input class="poppins-regular" placeholder="Digite a sua senha" formControlName="password" />
                </div>
            </div>
            <!-- <p class="poppins-regular">Itens:</p>
            <div class="user-infos__item">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o nome do item" formControlName="email" />
                </div>
                <div>
                    <button class="user-infos__delete-button">X</button>
                </div>
            </div>
            <div class="user-infos__item">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o nome do item" formControlName="email" />
                </div>
                <div>
                    <button class="user-infos__delete-button">X</button>
                </div>
            </div>
            <div class="user-infos__item">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o nome do item" formControlName="email" />
                </div>
                <div>
                    <button class="user-infos__delete-button">X</button>
                </div>
            </div> -->
            
            <div class="user-infos__alert-message">
                @if(userInfosForm.invalid){
                    @if(userInfosForm.hasError('update-success')){
                        <p class="poppins-semibold user-infos__alert-message--success"> atualizacao realizada com sucesso</p>
                    }

                    @if(userInfosForm.hasError('update-error')){
                        <p class="poppins-semibold user-infos__alert-message--error" >erro ao atualizar informacoes</p>
                    }

                    @if(userInfosForm.hasError('create-user-sucess')){
                        <p class="poppins-semibold user-infos__alert-message--error" >NOVO USUARIO CRIADO COM SUCESSO</p>
                    }

                    @if(userInfosForm.hasError('existing-user-error')){
                        <p class="poppins-semibold user-infos__alert-message--error" >JÁ EXISTE USUARIO CADASTRO COM {{userInfosForm.get('username')}}</p>
                    }

                     @if(userInfosForm.hasError('created-user-error')){
                        <p class="poppins-semibold user-infos__alert-message--error" >ERROR AO CADASTRAR USUARIO</p>
                    }
                }
            </div>

            <div class="user-infos__buttons-container">
                <button (click)="createUser()" type="button" class="poppins-regular user-infos__send-button user-infos__send-button--create">Criar Usuário</button>
                <button (click)="updateUser()" type="button" class="poppins-regular user-infos__send-button user-infos__send-button--update">Atualizar Existente</button>
            </div>
        </form>
    </div>
</div>