<div class="user-infos">
    <div class="user-infos__container">
        <form [formGroup]="userInfosForm">
            <div class="user-infos__title">
                <h1 class="poppins-semibold">Informações do Usuário</h1>
                <p class="poppins-light">Atualização dos dados do usuário</p>
            </div>
            <div class="user-infos__row">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o seu nome" formControlName="name" />
                </div>
                <div class="user-infos__fields">
                    <p class="poppins-regular">Email:</p>
                    <input class="poppins-regular" placeholder="Digite o seu email" formControlName="email" />
                </div>
            </div>
            <div class="user-infos__row">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Usuário:</p>
                    <input class="poppins-regular" placeholder="Digite o seu usuário" formControlName="username" />
                </div>
                <div class="user-infos__fields">
                    <p class="poppins-regular">Senha:</p>
                    <input class="poppins-regular" placeholder="Digite a sua senha" formControlName="password" />
                </div>
            </div>
            <!-- <p class="poppins-regular">Itens:</p>
            <div class="user-infos__item">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o nome do item" formControlName="email" />
                </div>
                <div>
                    <button class="user-infos__delete-button">X</button>
                </div>
            </div>
            <div class="user-infos__item">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o nome do item" formControlName="email" />
                </div>
                <div>
                    <button class="user-infos__delete-button">X</button>
                </div>
            </div>
            <div class="user-infos__item">
                <div class="user-infos__fields">
                    <p class="poppins-regular">Nome:</p>
                    <input class="poppins-regular" placeholder="Digite o nome do item" formControlName="email" />
                </div>
                <div>
                    <button class="user-infos__delete-button">X</button>
                </div>
            </div> -->
            <div class="user-infos__buttons-container">
                <button type="button" class="poppins-regular user-infos__send-button user-infos__send-button--create">Criar Usuário</button>
                <button (click)="updateUser()" type="button" class="poppins-regular user-infos__send-button user-infos__send-button--update">Atualizar Existente</button>
            </div>
        </form>
    </div>
</div>